<!-- <div class="card flex-fill border-0 illustration mb-3 mt-5">
  <div class="card-body p-0 d-flex flex-fill">
    <div class="row g-0 w-100 text-center">
      <div class="col-6 p-3 d-flex align-baseline">
        <button
          class="btn btn-primary rounded fs-5"
          [routerLink]="['addorder']"
          *ngIf="!permissions.length || permissions[0].canCreate"
        >
          <i class="bi bi-plus-circle"></i>
          إضافة طلب
        </button>
      </div>

      <div class="col-6 p-3 fw-bold text-end">
        <h4>الطلبات</h4>
      </div>
    </div>
  </div>
</div>

<p-table
  #dt2
  [value]="Orders"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [loading]="loading"
  [scrollable]="true"
  [exportHeader]="'customExportHeader'"
  [globalFilterFields]="['id', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <button
        label="Clear"
        (click)="clear(dt2)"
        class="btn btn-outline-danger rounded text-center"
      >
        <i class="bi bi-arrow-repeat fs-6"> حذف البحث</i>
      </button>
      <span class="p-input-icon-left ml-auto">
        <input
          pInputText
          type="text"
          [(ngModel)]="searchValue"
          (input)="onInput($event)"
          placeholder="البحث"
        />
      </span>
    </div>

    <button class="btn btn-primary p-2 my-2 mx-3" (click)="exportPdf()">
      PDF
    </button>
    <button class="btn btn-warning p-2 my-2" (click)="exportExcel()">
      Excel
    </button>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>طباعة</th>
      <th>الإعدادات</th>
      <th>تغيير الحالة</th>
      <th>الحالة</th>
      <th>تكلفة الطلب</th>

      <th>المدينه</th>
      <th>المحافظة</th>
      <th>بيانات العميل</th>
      <th>التاريخ</th>
      <th>الرقم التسلسلى</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-order>
    <tr #tableRow>
      <td>
        <button class="btn btn-info" (click)="printOrder(order.id)">
          <i class="bi bi-printer-fill"></i>
        </button>
      </td>
      <td>
        <button
          class="btn btn-primary mx-3"
          [disabled]="!permissions.length || !permissions[0].canWrite"
        >
          <i class="bi bi-pen"></i>
        </button>
        <button
          class="btn btn-danger"
          (click)="Delete(order.id)"
          [disabled]="!permissions.length || !permissions[0].canDelete"
        >
          <i class="bi bi-trash2"></i>
        </button>
      </td>
      <td>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="changeIdStatus(order.id)"
          [disabled]="
            RoleName == 'تاجر' ||
            !permissions.length ||
            !permissions[0].canWrite
          "
        >
          تغيير الحالة
        </button>
      </td>

      <td>
        {{ order.status }}
      </td>
      <td>
        {{ order.totalPrice }}
      </td>
      <td>
        {{ order.cityt }}
      </td>
      <td>
        {{ order.government }}
      </td>
      <td>
        {{ order.clientName }}
        <br />
        {{ order.phoneOne }}
      </td>
      <td>
        {{ order.createdDate }}
      </td>
      <td>
        {{ order.id }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10" class="text-center">.لم يتم إيجاد الطلب</td>
    </tr>
  </ng-template>
</p-table>
<div class="card flex justify-content-center">
  <p-toast />
</div>
<app-dialog [id]="orderId" (statusChanged)="updateOrders()"></app-dialog> -->
