<div class="container-fluid">
  <!-- <div class="mb-3">
    <h4>Admin Dashboard</h4>
  </div> -->
  <div class="row justify-content-center align-items-center g-2 text-center">
    <img class="homeLogo" src="assets/logos/logo (2).png" alt="" />
    <h3 class="text-center diffFont">
      Truck <span class="text-danger fw-bold">Track</span>
    </h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 d-flex">
      <div class="card flex-fill border-0 illustration">
        <div class="card-body p-0 d-flex flex-fill">
          <div
            class="row justify-content-center align-content-center g-0 w-100"
          >
            <div class="col-6">
              <div class="p-3 m-1 text-center">
                <h4>{{ global.Name }}, أهلاً بك</h4>
                <!-- <p class="mb-0">Admin Dashboard, CodzSword</p> -->
              </div>
            </div>
            <div class="col-6 align-self-end text-end">
              <!-- <img
                src="image/customer-support.jpg"
                class="img-fluid illustration-img"
                alt=""
              /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table Element -->
  <div class="card border-0 mt-5">
    <div class="card-header">
      <h5 class="card-title text-end p-3">الطلبات الخاصة بى</h5>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
